<div ng-if="currentUser==undefined">
{{gotologin()}}
</div>
<!-- 
 <div>{{job}}</div>
<br><br><br><br><br>
<div class="row">
<div>
<div class="panel panel-default">

<div class="panel-heading">

<div>{{job.jobTitle}}</div>
<span><strong>Created By:</strong>{{job.postedBy.username}}</span>
<span><strong>on: </strong>{{job.postedOn | date:'medium'}} </span>
<div>{{job.skillRequired}}</div>
<div>{{job.yrsOfExp}}</div>
<div>{{job.salary}}</div>
<div>{{job.companyname}}</div>
<div>{{job.location}}</div>

</div>

<div class="panel-body">

<div>{{job.jobDescription}}</div>
<div>{{job.skillRequired}}</div>
<div>{{job.yrsOfExp}}</div>
<div>{{job.salary}}</div>
<div>{{job.companyname}}</div>
<div>{{job.location}}</div>


</div>
</div>
</div>
</div>
 -->